@model IEnumerable<OnlineEventBookingSystemUI.Models.BookingDetailViewModel>

@{
    ViewBag.Title = "DisplayUserBookedEventsList";
}

<h2>
</h2>

<p> Events Booked by @User.Identity.Name....</p>
<div class="form-horizontal" style="border: solid 1px #ccc; padding: 30px 0 30px 30px; border-radius: 5px; width: 1200px; margin: auto; display: table;">
    <table class="table">
        <tr>
            <th width="80px">
                @Html.DisplayNameFor(model => model.Booking_Id)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Event_Name)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Booking_Loc)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Booking_Date)
            </th>
            <th width="120px">
                @Html.DisplayNameFor(model => model.Booking_TicketCount)
            </th>
            <th width="180px">
                @Html.DisplayNameFor(model => model.Booking_TotalAmount)
            </th>
            <th width="150">
                @Html.DisplayNameFor(model => model.Payment_Mode)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.IsConfirmationSent)
                </th>*@
            <th width="190"></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td width="40px">
                    @Html.DisplayFor(modelItem => item.Booking_Id)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Event_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking_Loc)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Booking_Date)
                </td>


                <td>
                    @Html.DisplayFor(modelItem => item.Booking_TicketCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Booking_TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment_Mode)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.IsConfirmationSent)
                    </td>*@
                <td>
                    @Html.ActionLink("Details", "DisplayBookedEventDetails", new { id = item.Booking_Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Booking_Id })
                </td>
            </tr>
        }

    </table>
    </div>
    <p>
        @Html.ActionLink("Back to List", "Index")|
    </p>
