@model OnlineEventBookingSystemUI.Models.BookingDetailViewModel

@{
    ViewBag.Title = "Booking Confirmation";
}

<h2>Booked Event</h2>

<div class="form-horizontal" style="border: solid 1px #ccc; padding: 30px 0 30px 30px; border-radius: 5px; width: 450px; margin: auto; display: table;">
    <h4>Booked Event Details:-</h4>
    <hr />

    <table align="center">

        <tr>
            <td width="150">@Html.DisplayNameFor(model => model.Booking_Id)</td>
            <td>
                @Html.DisplayFor(model => model.Booking_Id)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.userName)
            </td>
            <td>
                @Html.DisplayFor(model => model.userName)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Event_Name)
            </td>

            <td>
                @Html.DisplayFor(model => model.Event_Name)

            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Booking_Loc)
            </td>

            <td>
                @Html.DisplayFor(model => model.Booking_Loc)

            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Booking_Date)
            </td>

            <td id="Price">
                @Html.DisplayFor(model => model.Booking_Date)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Booking_TicketCount)
            </td>

            <td>
                @Html.DisplayFor(model => model.Booking_TicketCount)

            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Booking_TotalAmount)
            </td>

            <td>
                @Html.DisplayFor(model => model.Booking_TotalAmount)

            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.Payment_Mode)
            </td>
            <td>
                @Html.DisplayFor(model => model.Payment_Mode)
            </td>
        </tr>
        <tr>
            <td>
                @Html.DisplayNameFor(model => model.IsConfirmationSent)
            </td>

            <td>
                @Html.DisplayFor(model => model.IsConfirmationSent)
            </td>
        </tr>
        

    </table>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")|
    @Html.ActionLink("Booked Events List", "DisplayUserBookedEventsList", new { id = User.Identity.Name })
</p>
