@model OnlineEventBookingSystemUI.Models.UserEventDetailViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Event Details</h2>
<!DOCTYPE html>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $("#btnShow").click(function () {
                var selectedTextEvent = $("#EventTypeList").find("option:selected").text();
                var selectedTextCity = $("#CityList").find("option:selected").text();
                var Event_Type = selectedTextEvent;
                var Booking_Loc = selectedTextCity;
                var values =
                    $.ajax({

                        type: "POST",
                        dataType: "html",
                        url: "/UserEventDetail/DisplayUserEvents",
                        data: { "Event_Type": Event_Type, "Booking_Loc": Booking_Loc },
                        success: function (data) {

                            $("#partial").html("");
                            $("#partial").html(data);
                        }


                    });
            });
        });
    </script>
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
   
    <table>
        <tr>
            <td>
                Event Types: @Html.DropDownList("EventTypeList", Model.EventTypeList, "All")
            </td>
            <td>
                City: @Html.DropDownList("CityList", Model.CityList, "All")
            </td>
            <td>
                <input type="submit" value="SHOW DETAILS" id="btnShow" />
            </td>
            <td>
            </td>
        </tr>
    </table>
    @if (User.Identity.IsAuthenticated)
    {
        @Html.ActionLink("Booked Events List", "DisplayUserBookedEventsList", new { id = User.Identity.Name })
    }


<div id="partial">
    

    @Html.Partial("_DisplayUserEvents", Model?.Events)
</div>
    <div>
        @if (Session["UserName"] == null)
        {
            @Html.ActionLink("Click here to Register", "Registration", "User")
        }
    </div>
</body>
</html>
