@model OnlineEventBookingSystemUI.Models.EventDetailViewModel

<h4>Event Details :--</h4>

<div class="form-horizontal" style="border: solid 1px #ccc; padding: 30px 0 30px 30px; border-radius: 5px; width: 450px; margin: auto; display: table;">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Event_Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event_Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event_Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Event_Picture)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Event_Picture)
        </dd>

    </dl>
    <hr />
    <hr />
    <table cellpadding="2" cellspacing="2" width="650">

        <tr>
            <th>City</th>
            <th>Price</th>
            <th>Date and time</th>
        </tr>
        @foreach (var item in Model.EventList)
        {
            <tr>

                <td>

                    @Html.DisplayFor(model => item.City)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => item.City, "")
                    </div>
                </td>




                <td height="10">
                    @Html.DisplayFor(model => item.EventLocation_Price, null)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => item.EventLocation_Price, "", new { @class = "text-danger" })
                    </div>
                </td>

                <td height="10">
                    @Html.DisplayFor(model => item.EventLocation_DateAndTime, null)
                    <div style="height: 20px;">
                        @Html.ValidationMessageFor(model => item.EventLocation_DateAndTime, "", new { @class = "text-danger" })
                    </div>
                </td>
                <td>


            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Event_Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
