@model OnlineEventBookingSystemUI.Models.EventLocationViewModel
@{
    int i = ViewBag.i == null ? 0 : ViewBag.i;

}


    <table cellpadding="2" cellspacing="2" width="650">
        <tr>
            <td valign="top">
                @Html.LabelFor(model => model.Location_Id)
            </td>
            <td></td>
            <td>
                @Html.DropDownListFor(model=> model.Location_Id, Model.Cities, "-Select-", new { @Name = "[" + i + "].Location_Id" })
                <div style="height: 20px;">
                    @Html.ValidationMessageFor(model => model.Location_Id, "", new { @class = "text-danger" })
                </div>
            </td>
            <td></td>


            <td valign="top">
                @Html.LabelFor(model => model.EventLocation_Price)
            </td>
            <td height="10">
                @Html.TextBoxFor(model => model.EventLocation_Price,null, new {@Name= "[" + i + "].EventLocation_Price" })
                <div style="height: 20px;">
                    @Html.ValidationMessageFor(model => model.EventLocation_Price, "", new { @class = "text-danger" })
                </div>
            </td>

            <td valign="top">
                @Html.LabelFor(model => model.EventLocation_DateAndTime)
            </td>
            <td height="10">
                @Html.TextBoxFor(model => model.EventLocation_DateAndTime,null, new {@Name = "[" + i + "].EventLocation_DateAndTime" })
                <div style="height: 20px;">
                    @Html.ValidationMessageFor(model => model.EventLocation_DateAndTime, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
    </table>



    