@{
    ViewBag.Title = "User Details";
}

<h2>User Details</h2>
<!DOCTYPE html>
<p>
    @Html.ActionLink("Create User", "Registration", "User")
</p>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript">
        function RemoveRow(element) {
            var obj = document.getElementById(element);
            var $tr = $(obj).remove();
        }     
            function OnFailure(result)
            {
                alert(result.statusText);
            }
    </script>
</head>
<body>
    <h2>@ViewBag.UserName</h2>
    <div style="border: solid 1px #ccc; padding: 30px 0 30px 30px; border-radius: 5px;
        width: 1350px; margin: auto; display: table;">
        <table class="table table-striped" height="500" >
            <thead>
                <tr>
                    <th width="50"> UserId </th>
                    <th width="150"> Name</th>
                    <th width="150"> Password </th>
                    <th width="225"> Email Id</th>
                    <th width="150" > Address </th>
                    <th width="100"> Phone No </th>
                    <th width="50"> IsAdmin</th>
                </tr>
            </thead>
            <tbody>
                @if (ViewBag.UserList != null)
                {
                    foreach (var user in ViewBag.UserList)
                    {
                        <tr id=@user.User_Id>
                            <td>@user.User_Id</td>
                            <td>@user.User_Name </td>
                            <td>@user.User_Password </td>
                            <td>@user.User_Email</td>
                            <td>@user.User_Address</td>
                            <td>@user.User_PhoneNo</td>
                            <td>@user.IsAdmin</td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = user.User_Id }) |
                                @Html.ActionLink("Details", "Details", new { id = user.User_Id }) |
                                @* @Html.ActionLink("Delete", "Delete", new { id = user.User_Id })*@
                               

                                @Ajax.ActionLink("Delete ", "Delete", new { id = user.User_Id }, new AjaxOptions
                                { 
                                     HttpMethod = "DELETE",
                                     Confirm = "Are you Sure You Want to Delete ", 
                                     OnSuccess = "RemoveRow("+ @user.User_Id +")" , 
                                     OnFailure = "OnFailure"
                                })
                               
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
