@model IEnumerable<OnlineEventBookingSystemDAL.EventDetail>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Event_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Event_Picture)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event_Picture)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Event_Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Event_Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Event_Id })
        </td>
    </tr>
}

</table>
