@model OnlineEventBookingSystem.Models.RegistrationViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
    <style type="text/css">
        body {
            font-family: Arial;
            font-size: 10pt;
        }

        .error {
            color: red;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <h2>Sign Up... </h2>
        <div style="border: solid 1px #ccc; padding: 30px 0 30px 30px; border-radius: 5px;
        width: 450px; margin: auto; display: table;">
            <table>
                <tr>
                    <td valign="top">
                        @Html.LabelFor(model => model.User_Name)
                    </td>
                    <td>
                        @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control" } })
                        <div style="height: 20px;">
                            @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                        </div>
                    </td>
                </tr>
               

                
                <tr>

                    <td>
                    </td>
                    <td>
                        <input type="submit" value="Sign Up" />
                    </td>
                </tr>
            </table>
        </div>


        <div>
            @Html.ActionLink("Click here to login", "Login")
        </div>
    }
</body>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
</html>
